h3{
    color: #000000;
}

.project-title{
    padding: 20px;
    margin: 10px;   
}
.project{
	max-height: 500px;
	padding: 20px;
	margin: 10px;
	border: solid 3px;
	border-radius: 5px;
	border-color: #F0F0F0;
}

.project-description{
    display:none;
    z-index: 200;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background:rgba(200,200,200,0.7);
 }

 .content-box{
    color: black;
    background:rgba(254,254,254,0.7);
 }
 .social{
    color: black;
 }

.blue {
    background-color: #39A6D9;
}

.head {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
}

.personal-info {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #ffffff;
}
